<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="style.css">
    <title>Boolflix</title>
</head>

<body>
    <div id="app" class="container">
        <header>
            <img src="img/boolflix.png" alt="Spotify Logo">
            <input type="text" placeholder="Inserisci il titolo del film" v-model="userInput" @keyup.enter="searchMovies()">
            <button @click="searchMovies()"><i class="fas fa-search"></i></button>
        </header>
        <main>
            <div class="wrapper">
                <div class="movieContainer" v-for="(movie, index) in moviesSelected">
                    <div class="movie">
                        <img src="" alt="">
                        <h4>Title: {{ movie.title }}</h4>
                        <p>Original title: {{ movie.original_title }}</p>
                        <p>Language: {{ movie.original_language }}</p>
                        <p>Vote: {{ movie.vote_average }}</p>
                        <p>{{ starsCalculate(index) }}</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js"></script>
</body>

</html>