* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}
header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #383838;
}
header > img {
    width: 10%;
    margin: 0 20px;
}
header > input {
    width: 300px;
    height: 25px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 10px;
}
header > button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    margin-left: 40px;
    cursor: pointer;
}
body {
    background-color: black;
}
main {
    width: 100%;
    height: 90%;
    background-color: black;
    color: white;
}
.wrapper {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
}
.movieContainer {
    width: 200px;
    height: 300px;
    background-color:  #2e3a46;
    display: flex;
    /* justify-content: center; */
    margin: 10px 10px;
    border: 1px solid lime;
}
.movie {
    width: 85%;
    height: 100%;
    /* text-align: center; */
    cursor: pointer;
    word-break: initial;
}
.movie h4 {
    margin-bottom: 20px;
    color: white;
}
.movie > p {
    color: #7a7568;
}
.movieContainer .movie #stars {
    display: inline !important; 
}
.movie .fas {
    color: yellow;
}
.flag img {
    width: 70px;
    height: 40px;
}
