* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    /* height: 100vh; */
}
li {
    list-style: none;
    cursor: pointer;
}
header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #383838;
}
header > img {
    width: 10%;
}
header > input {
    width: 300px;
    height: 25px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 10px;
}
header > button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}
header > ul {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-left: 40px;
}
header li {
    margin-left: 40px;
}

body {
    background-color: black;
}
main {
    width: 100%;
    height: 90%;
    background-color: black;
    color: white;
    padding-bottom: 50px;
}
main h1 {
    color: #dc1a28;
    margin: 50px 150px;
    font-size: 3em;
}
.wrapper {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    flex-wrap: wrap;
    /* overflow-y: auto; */
}
.movieContainer {
    width: 200px;
    height: 300px;
    background-color: #383838;
    display: flex;
    /* justify-content: center; */
    margin: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(58, 58, 58);
}
.movieContainer:hover .poster {
    display: none;
}
.movieContainer:hover .movie {
    display: flex;
}
.movie {
    width: 85%;
    height: 100%;
    cursor: pointer;
    word-break: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: none;
    padding: 5px 5px;
}
.movie h4 {
    color: white;
    font-weight: bolder;
}
.movie > p {
    color: lightgrey;
}
.movie > p > span {
    font-weight: bold;
}
.movieContainer .movie #stars {
    display: inline !important; 
}
.movie .fas {
    color: yellow;
}
.flag img {
    width: 100px;
    height: 60px;
    border-radius: 5px;
}
.overview {
    font-size: 0.7em;
    height: 35%;
    max-height: 35%;
    overflow-y: auto;
    scrollbar-color: rgb(58, 58, 58) rgb(58, 58, 58);
}
.poster {
    width: 100%;
}
body .container main .wrapper .movieContainer .movie #titleDescription {
    display: block !important;
}
